//Breakpoints
$xl: 1600px;
$l:  1366px;
$lg: 1024px;
$md:  768px;
$sm:  600px;
$xs:  420px;

//Colors
$dark:        #000000;
$light:       #ffffff;
$text-main:   #333333;
$accent:     #525ddc;

//Fonts
$font-r:     'Lato-Regular', Arial, sans-serif;

//Special settings
$hover-time: 0.2s;
